body{
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.calculator {
    box-shadow: 0 4px 6px #74ebd5;
    width: 390px;
    height: 700px;
    margin-top: 30px;
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0.1px solid #cccccc12 transparent;
    border-radius: 5px;
   background-color: #040608;
}

input[type="text"] {
    width: 340px;
    height: 150px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgb(77, 74, 74);
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

button {
    
    border-radius: 20px;
    width: 90px;
    height: 50px;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.effacer{
    width: 170px;
    background-color: #aae03d;
    margin-right: 15px;
}
.zero{
    width: 115px;
}
.signe{
    background-color: rgb(182, 182, 3);
    width: 50px;
}
.contenaire{
    display:grid;
    margin-top: 80px;
    
}

#plus{
    width: 115px;
}